 <!-- Begin Page Content -->
 <div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Helpers - Departments</h1>
    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-5 my-2 my-md-0 mw-100 navbar-search shadow ">
      <div class="input-group">
        <input type="text" class="form-control border-0 small" placeholder="Search for..." [(ngModel)]="searchTerm">
        <div class="input-group-append">
          <button class="btn btn-light search" type="button" disabled>
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </div>
    <button class="d-none d-sm-inline-block btn btn-sm shadow-sm" data-toggle="modal" data-target="#addDepartmentModal"><i class="fas fa-download fa-sm text-50"></i> New Department</button>
  </div>

  <!-- Content Row -->
  <div class="row">

    <table class="table shadow table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Department Code</th>
          <th scope="col">Department Name</th>
          <th scope="col" class="float-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of allDepartments | paginate: { itemsPerPage: 7, currentPage: page} | filter: searchTerm">
          <th scope="row">{{department.id}}</th>
          <td>{{department.codeDep}}</td>
          <td>{{department.nomDep}}</td>
          <td  class="float-right">
            <button class="d-none d-sm-inline-block btn btn-sm shadow-sm" (click)="getDepartmentById(department.id)"><i class="fas fa-pen fa-sm text-50"></i></button>
            <button class="d-none d-sm-inline-block btn btn-sm shadow-sm" (click)="deleteModal(department.id)"><i class="fas fa-trash fa-sm text-50"></i></button>
          </td>
        </tr>

      </tbody>
      <tfoot class="justify-content-center">
        <tr>
          <td colspan="3" class="text-center">
            <pagination-controls class="shadow" maxSize="4" directionLinks="true" autoHide="true" responsive="true"
              previousLabel="Previous" nextLabel="Next" (pageChange)="page = $event"></pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>

            <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->




<!-- Add Department Modal -->
<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Department</h5>
        <button #closeAddModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mx-auto" [formGroup]="departmentForm" (ngSubmit)="addDepartment()">
          <div class="form-group">
            <label for="inputName">Department Code</label>
            <input type="text" class="form-control shadow" id="inputName" placeholder="Department Code" formControlName="codeDep">
          </div>
          <div class="form-group">
            <label for="inputName">Department Name</label>
            <input type="text" class="form-control shadow" id="inputName" placeholder="Department Name" formControlName="nomDep">
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary shadow" data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="!departmentForm.valid" class="btn btn-success shadow">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End Add Department Modal  -->

<!-- Edit Department Modal -->

<div class="modal fade" id="editDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Department</h5>
        <button #closeUpdateModal type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mx-auto" [formGroup]="departmentUpdateForm" (ngSubmit)="updateDepartment()">
          <input type="hidden" formControlName="id" id="id" required>
          <div class="form-group">
            <label for="inputName">Department Code</label>
            <input type="text" class="form-control shadow" id="inputName" placeholder="Department Code" formControlName="codeDep"
            required>
          </div>
          <div class="form-group">
            <label for="inputName1">Department Name</label>
            <input type="text" class="form-control shadow" id="inputName1" placeholder="Department Name" formControlName="nomDep"
            required>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary shadow" data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="!departmentUpdateForm.valid" class="btn btn-success shadow">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End Edit Department Modal  -->

<!-- Delete Patient Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
        <button #closeDeleteModal class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure that you want Delete this column</div>
      <div class="modal-footer">
        <button class="btn btn-secondary shadow" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger shadow" (click)="deleteDepartment(deletedDepartmentId)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- End Delete Patient Modal -->

<button #openUpdateModal data-toggle="modal" data-target="#editDepartmentModal" class="invisible"></button>
<button #openDeleteModal data-toggle="modal" data-target="#deleteModal" class="invisible"></button>
