<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

  </div>

  <!-- Content Row -->
  <div class="row">

    <div class="col-md-4">
      <div class="card border-left-success shadow py-2 my-3">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Doctors</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfDoctors}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-stethoscope fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-left-danger shadow py-2 my-3">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nurses</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfNurses}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-nurse fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-left-primary shadow py-2 my-3">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Receptionists</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfReceptionists}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-notes-medical fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-left-warning shadow py-2 my-3">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Criticalities</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfCriticalities}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-file-prescription fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-left-secondary shadow py-2 my-3">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Specialities</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfSpecialitiess}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-vials fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-left-info shadow py-2 my-3">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Departments</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberOfDepartments}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-hospital fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
